    <md-toolbar ng-hide="vm.menu.hideToolbar">
      <div class="md-toolbar-tools">
        <md-button id="main" ng-if="!vm.menu.hideBurger" class="md-icon-button" ng-click="toggleOpen()" aria-label="'Settings' | translate">
          <md-icon>menu</md-icon>
        </md-button>
        <h2>
          <a href="/#/">{{ brandName.name | titleCase }}</a>
        </h2>
        <md-divider class="vertical-divider" ng-if="vm.menu.sectionName"></md-divider>
        <h2>
          {{ vm.menu.sectionName }}
        </h2>
        <span flex></span>
        <span hide show-gt-sm ng-if="loggedIn">
          <md-menu>
            <md-button aria-label="'Open Apps Menu' | translate" class="md-icon-button" ng-click="$mdOpenMenu($event)">
              <md-icon>apps</md-icon>
            </md-button>
            <md-menu-content width="4" >
              <md-menu-item ng-repeat="item in vm.menu.main">
                <md-button href='{{item.link}}'>
                  <md-icon md-menu-align-target>{{ item.icon }}</md-icon>
                  {{ item.title }}
                </md-button>
              </md-menu-item>
            </md-menu-content>
          </md-menu>
          <md-button class="md-icon-button" aria-label="'Support' | translate" ng-if="!vm.menu.Intercom">
            <a target="_blank" href="http://discuss.cucumberwifi.io">
              <md-icon>forum</md-icon>
            </a>
          </md-button>
          <md-button class="md-icon-button" aria-label="'Support' | translate" id="intercom" ng-if="vm.menu.Intercom">
            <md-icon>chat</md-icon>
          </md-button>
          <md-menu md-position-mode="target">
            <md-button aria-label="Open Menu" class="md-icon-button" ng-click="$mdOpenMenu($event)">
              <user-avatar></user-avatar>
            </md-button>
            <md-menu-content width="4" >
              <md-menu-item>
                <md-button ng-href="/#/me" >
                  <md-icon md-menu-align-target style="margin: auto 3px auto 0;">face</md-icon>
                  <span translate>Account</span>
                </md-button>
              </md-menu-item>
              <md-menu-divider></md-menu-divider>
              <md-menu-item>
                <md-button target="_blank" ng-href="http://docs.cucumberwifi.io" >
                  <md-icon md-menu-align-target style="margin: auto 3px auto 0;">account_balance</md-icon>
                  <span translate>Documentation</span>
                </md-button>
              </md-menu-item>
              <md-menu-item>
                <md-button target="_blank" ng-href="https://discuss.cucumberwifi.io/" >
                  <md-icon md-menu-align-target style="margin: auto 3px auto 0;">forum</md-icon>
                  <span translate>Discussions</span>
                </md-button>
              </md-menu-item>
              <md-menu-divider></md-menu-divider>
              <md-menu-item>
                <md-button href="/#/downloads" >
                  <md-icon md-menu-align-target style="margin: auto 3px auto 0;">get_app</md-icon>
                  <span translate>Downloads</span>
                </md-button>
              </md-menu-item>
              <md-menu-item>
                <md-button href="/#/apps" >
                  <md-icon md-menu-align-target style="margin: auto 3px auto 0;">android</md-icon>
                  <span translate>Developer</span>
                </md-button>
              </md-menu-item>
              <md-menu-divider></md-menu-divider>
              <md-menu-item>
                <md-button ng-click="logout()">
                  <md-icon md-menu-align-target style="margin: auto 3px auto 0;">exit_to_app</md-icon>
                  <span translate>Logout</span>
                </md-button>
              </md-menu-item>
            </md-menu-content>
          </md-menu>
        </span>
        <md-button id="main" hide-gt-sm class="md-icon-button" ng-click="toggle('right')" aria-label="'Settings' | translate">
          <md-icon>apps</md-icon>
        </md-button>
      </div>
    </md-toolbar>