/* Custom CSS */

/* Varables */
$font-stack: 	'Open Sans', Arial, sans-serif;
$primary-color: #434A4F;
$link-color: 	#7f8588;
$darkblue: 		#004a7c;
$lightblue: 	#0072b4;
$darkgrey: 		#434A4F;
$meduimgrey: 	#6C7479;
$lightgrey: 	#CCCDCF;
$green:			#97BF0D;
$orange:		#F29400;
$red:			#D8462E;

body {
   	font-family: $font-stack;
 	button, select, html, textarea, input {
    	font-family: $font-stack;
	}

	a {
		color: $link-color;
		text-decoration: underline;
		&:hover {
			text-decoration: none;
		}
	}
}
.page-header, .page-footer {
	/*box-shadow: 0 8px 8px -8px #000 inset;*/
	background: $lightblue;
    background: linear-gradient(to right, $darkblue, $lightblue);
}
/* Typography */

.md-headline {
    font-size: 22px;
    font-weight: normal;
    line-height: 26px;
}

/* Angular material styles overwrites */

.offline {
	color: $red !important;
}
.online {
	color: $green !important;
}

body {

	/* hover button */

	.md-button.md-default-theme.md-primary.md-raised:not([disabled]):hover, 
	.md-button.md-primary.md-raised:not([disabled]):hover, 
	.md-button.md-default-theme.md-primary.md-fab:not([disabled]):hover , 
	.md-button.md-primary.md-fab:not([disabled]):hover {      
		background-color: $darkblue;

	}
	.md-button.md-default-theme.md-primary.md-raised:not([disabled]).md-focused, 
	.md-button.md-primary.md-raised:not([disabled]).md-focused, 
	.md-button.md-default-theme.md-primary.md-fab:not([disabled]).md-focused , 
	.md-button.md-primary.md-fab:not([disabled]).md-focused {      
		background-color: $darkblue;
	}


	._md a.md-default-theme:not(.md-button).md-primary:hover , 
	._md a:not(.md-button).md-primary:hover {    
		color: $darkblue;
	}

}

md-card.md-default-theme .md-card-image , 
md-card .md-card-image {    
	border-radius: 2px 2px 0 0;
}


/* Tables */

table.md-table {
	thead.md-head {
		& > tr.md-row {
			height: 45px;
		}
		th {
			background-color: $lightblue;
			color: #fff;
			font-size: 12px;
			.md-column.md-active {
				color: #fff;
				opacity: 0.8;
				&:hover {
				opacity: 1;	
				}
			}
			a {
				color: #fff;
			}
		}	
	}
	tbody tr:nth-child(even) td {
		background-color: #ebf4f9;
	}

}

table.md-table th.md-column.md-active {
	span, md-icon {
		color: #fff;
    	opacity: 0.8 !important;
	}
	&:hover {
		span, md-icon {
			color: #fff;
    		opacity: 1 !important;
		}
    }  
}
.section_name {
	text-transform: uppercase;
}
.brand_bg {
	background-color: #fff;
	height: 3px;
	width: 100%;
}
.brand {
	display: flex; 
	height: 58px;
	margin-right: -16px;
	margin-top: -3px;
	align-self: flex-start;
	h2 a {
		color: $darkgrey;
	}
	.more_right {
		color: $darkgrey;
		fill: $darkgrey;
	}
	&:before {
		background: transparent url("/app/assets/devolo_header.svg") no-repeat scroll -20px 0;
	    z-index: 3;
	    content: " ";
	    display: inline-block;
	    height: 59px;
	    vertical-align: top;
	    width: 28px;
	}
	.logo_wrapper {
		display: inline-block;
		background-color: #fff;
		display: flex;
		height: 56px;
		z-index: 1;
	}
	.devolo_logo {
		width: 200px;
		height: 90px;
		margin-left: -10px;
	    margin-right: -20px;
	    margin-top: -20px;
	}

}
@media screen and (max-width: 959px) {
	.brand {
		height: 48px;
		&:before {
			background: transparent url("/app/assets/devolo_header_sm.svg") no-repeat scroll -23px 1px;
		    height: 46px;
		    width: 25px;
		}
		.logo_wrapper {
		    height: 41px;	   
		}
		.devolo_logo {
			width: 60px;
			margin-top: -26px;
		}
		.devolo_logo_lg {
			display: none;
		}
	}
}
